@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')!important;
:root {    
  --blue:#04335a;    
  --grey: #eeecec;
  --dark-grey: #c7c3c3;
  --light-grey: #e2e0e0;  
  --smoke: #f8f7f7;  
  --white: #ffffff; 
  --black: #000;  
  --dark-blue: #f7f3f3;    
  --font:#000; 
  --orange:#f1821a;  
     
}
body {
  box-sizing: border-box;  
  font-family: 'Open Sans', sans-serif!important; 
  background-color: var(--grey); 
  line-height: 1.6rem!important;
}
h2{
  font-size: 30px;
  font-weight: 600;
  color: var(--black);
  border-bottom: 4px solid var(--orange);
}
a {
  text-decoration: none;  
}
ul {   
  padding: 5px;
}
.navbar{
  margin:0px;  
}
.navbar a{
  color: var(--black) !important;
  font-size: 20px;
}
.background-navbar {
  background-color: var(--smoke) !important;  
}
.span{
  color: var(--blue)!important; 
  font-size: 30px; 
}
.hero .row{
  height: 100%;
}
.hero {   
  background-color: var(--blue);
  margin: auto;
  height: 60vh;  
}
.hero h1{  
  font-weight: 700; 
  font-size: 50px;
  color: var(--white);  
}
.hero i{
  font-size: 20px;
  color: var(--white);
  margin-top:10px;
  background-color: var(--blue);
  padding: 10px 30px;
  border-radius: 5px;  
}
.btn-project{
  background-color: var(--blue)!important;
  width: 150px;
  color: var(--orange)!important;  
  box-shadow: 5px 5px 0px var(--orange);
  border: 2px solid var(--orange);
}
#mypic{  
  width: 30%; 
  border-radius: 5px;  
  margin-right: 200px;  
}
.span-who-am-i{
  font-size: 40px;
  font-weight: 600px; 
}
#about-me{
  margin: 100px auto!important;
}
.about-me-text {    
  color: var(--black)!important;
  background-color: var(--smoke);
  padding: 30px!important; 
  box-shadow: 5px 5px 80px var(--dark-grey);     
}
.technology{
  margin:0px auto !important;
  background-color: var(--dark-blue);
  color: var(--white); 
}
.technology h3{
  color: var(--black);  
}
.technology i{
  font-size: 80px;  
  background-color:var(--dark-blue);
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  color: var(--blue);
  /* border: 2px solid var(--blue); */
  box-shadow: 5px 5px 20px var(--dark-grey);  
}
#projects {  
  margin: 100px auto;  
}
.card {
  transition: 0.3s ease-in-out;
  background-color: var(--light-blue)!important;  
  box-shadow: 5px 5px 50px var(--dark-grey);  
  margin: 20px auto;
  border: 0;  
}
.card img{
  width: 100%!important;  
}
.card-title{
  color: var(--blue);  
  font-weight: bold; 
  padding: 10px; 
  margin-top: 0px !important;
  margin:auto -16px; 
  border-bottom: 1px solid var(--light-grey); 
}
.card-body{
  padding-top: 0;
  background-color: var(--dark-blue);      
}
.card-text{
  color: var(--black)!important;
  margin-top: 10px;
  font-weight: 400;  
}
.card a{
  font-size: 15px!important;
  border-radius: 3px;
  background-color:var(--blue);
  border: 0;
  font-weight: 500;
  margin: 5px;
  color: var(--white);
  box-shadow: 5px 5px 0px var(--orange);
}
.card:hover {
  transform: translateY(-7px);
}
#projects a:hover { 
  background-color: var(--black)!important;  
}
#projects i{
  font-size: 30px;
  color:var(--dark-blue);  
}
#projects i:hover {
  transform: scaleY(0.7);
  transition: 0.4s ease;
  color: var(--orange);
}
.contact-section{  
  padding: 5px;
}
.contact {
  background-color: var(--smoke);  
  width: 70%;  
  border-radius: 5px;
  box-shadow: 5px 5px 50px var(--dark-grey);
  margin: 100px auto;
}
.contact ::placeholder{
  color: var(--black); 
}
.contact p{
  color: var(--black)!important;
  font-weight: 700;  
}
.contact input,
.contact textarea {
  background-color: var(--smoke);
  border-radius: 0;
  border: 0;
  width: 100%;
  border-bottom: 1px solid var(--black);
}
.btn-submit {
  background-color: var(--blue);
  color: var(--white);    
  font-weight:500;
  box-shadow: 5px 5px 0px var(--orange);
}
.btn-submit:hover {
  background-color: var(--orange);
  color: var(--white);
}
span {  
  transition: ease;
  font-size: 20px;
  font-weight: 400;
}
.footer {  
  background-color: var(--blue);   
}
.footer p{
  color: var(--white)!important;
}
.footer i{
  font-size: 30px;
  margin: 10px;
  color: var(--orange);  
}
@media (max-width: 1024px) {
  .hero h1{
    font-size:40px;
  }
  #about-me{
    display: block;
    width: 80%;    
  }
  #about-me h1{
    font-size: 35px;
  }
  #mypic{
    width: 50%;
  }
  .about-me-text{
    margin: 10px;
    border-left: 0;
    padding:10px;
  }
  .about-me-paragraph{
    padding: 50px;
  }
  .btn{
    margin: 5px;
  }
}
@media (max-width: 960px) {
  .hero h1{
  font-size: 35px;
  }
  .hero .btn{
    padding: 5px 10px;

  }
  .hero i{
    font-size: 20px;
  }
  .contact {
    width: 100%;
  } 
  .about-me-text{
    margin: 5px;    
    padding:0;
  }
  #mypic{
    display: none;
  }
}
@media (max-width: 320px) {
  .technology .col{
    margin: auto;
  }
}
@media (max-width: 320px) {
 .hero h1{
  font-size:30px;  
 }
 #mypic{
  width: 80%;
}
.technology h1{
  font-size: 20px;
}
.technology h3{
  font-size: 15px;
}
.technology i{
  font-size: 60px;
}
  
}
