@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {   
  --orange:#f37021;  
  --grey: #55556b;
  --light-grey: #c0c0c0;  
  --smoke: #f8f7f7;  
  --white: #fff; 
  --black: #000;  
  --dark-blue: #092555;    
  --font:#000; 
  --blue:	#00529c; 
  --light-blue:#2169a0; 
  --lighter:#3383c0; 
  
}
body {
  box-sizing: border-box;  
  font-family:'Montserrat', sans-serif!important;  
}
.code-icon{
  font-size: 30px !important;
  background-color: var(--light-purple);
  border: 0!important;
}
a {
  text-decoration: none;  
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p{
  font-size:20px;
}
.navbar{
  margin: auto;
}
.navbar a{
  color: var(--white) !important;
}
.background-navbar {
  background-color: var(--dark-blue) !important;  
}
.hero .row{
  height: 100%;
}
.hero {  
  height: 90vh;  
  background-color: var(--light-blue);
}
.hero h1{  
  font-weight: 800; 
  font-size: 55px;
  color: var(--white);  
}
.hero i{
  font-size: 20px;
  color: var(--white);
  margin-top:10px;
  background-color: var(--orange);
  padding: 10px 30px;
  border-radius: 30px;  
}
.hero .btn{
  background-color: var(--purple);  
  border-radius: 5px;
  font-weight: 500;
  padding: 10px;
  color: var(--white);
}
#mypic{  
  width: 50%;  
  padding: 10px;  
  border: 10px solid var(--dark-blue);
  border-radius: 10px;
}

#about-me {     
  width: 80%; 
  border-radius: 5px;  
  margin: 100px auto;   
}
#about-me h1{
  font-weight: 900;
  font-size: 40px;
  background-color: transparent;
  color: var(--purple);   
}
.about-me-text {    
  color: var(--black)!important;  
  padding-left: 40px;
  width: 100%;
  margin: 10px;  
  border-left: 3px solid var(--blue);
  color: var(--black)!important; 
  font-weight: 500;
  margin: 100px auto;   
}
.technology{
  margin:0px auto !important;
  background-color: var(--light-blue);
  color: var(--white); 
}
.technology h1{
  color: var(--white);
  font-weight: 900;
}
.technology h3{
  color: var(--black);  
}
.technology i{
  font-size: 60px;
  box-shadow: 1px 2px 10px var(--grey);
  background-color:var(--orange);
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  color: var(--white);
}
#projects {  
  margin: 100px auto 50px;
}
#projects h1{
  color: var(--blue);
  font-weight: 900;
   
}
.card {
  transition: 0.3s ease-in-out;
  background-color: var(--white);  
  box-shadow: 1px 1px 10px var(--light-grey);
  border-radius: 5px;
  margin: 10px 0;
  border: 0;  
}
.card img{
  width: 100%!important;  
}
.card-title{
  color: var(--white);  
  font-weight: 500;
  background-color: var(--blue);
  padding: 10px; 
  margin-top: 0px !important;
  margin:auto -16px;  
}
.card-body{
  padding-top: 0;
  background-color: var(--white);    
  font-weight: 400;
}
.card-text{
  color: var(--black)!important;
  margin-top: 10px;
  font-weight: 400;  
}
.card a{
  font-size: 15px!important;
  border-radius: 3px;
  background-color:var(--blue);
  border: 0;
  font-weight: 500;
  margin: 5px;
}
.card:hover {
  transform: translateY(-7px);
}
#projects a:hover { 
  background-color: var(--black)!important;  
}
#projects i{
  font-size: 30px;
  color:var(--dark-blue);
}
#projects i:hover {
  transform: scaleY(0.7);
  transition: 0.4s ease;
  color: var(--orange);
}
.contact-section{  
  padding: 5px;
}
.contact {
  background-color: var(--light-blue);  
  width: 70%;  
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--light-grey);
  margin: 100px auto;
}
.contact ::placeholder{
  color: var(--white); 
}
.contact h1, p{
  color: var(--white)!important;
  font-weight: 900;  
}
.contact input,
.contact textarea {
  background-color: var(--light-blue);
  border-radius: 0;
  border: 0;
  width: 100%;
  border-bottom: 1px solid var(--white);
}
.btn-submit {
  background-color: var(--dark-blue);
  color: var(--white);    
  font-weight:500;
}
.btn-submit:hover {
  background-color: var(--orange);
  color: var(--white);
}
span {  
  transition: ease;
  font-size: 20px;
  font-weight: 400;
}
.footer {  
  background-color: var(--black); 
  border-top: 1px solid var(--light-grey);
}
.footer p{
  color: var(--white)!important;
}
.footer i{
  font-size: 30px;
  margin: 10px;
  color: var(--white);
}
@media (max-width: 1024px) {
  .hero h1{
    font-size:40px;
  }
  #about-me{
    display: block;
    width: 80%;    
  }
  #about-me h1{
    font-size: 35px;
  }
  #mypic{
    width: 50%;
  }
  .about-me-text{
    margin: 10px;
    border-left: 0;
    padding:10px;
  }
}
@media (max-width: 960px) {
  .hero h1{
  font-size: 35px;
  }
  .hero .btn{
    padding: 5px 10px;

  }
  .hero i{
    font-size: 20px;
  }
  .contact {
    width: 100%;
  } 
  .about-me-text{
    margin: 5px;    
    padding:0;
  }
}
@media (max-width: 320px) {
  .technology .col{
    margin: auto;
  }
}
@media (max-width: 320px) {
 .hero h1{
  font-size:30px;  
 }
 #mypic{
  width: 80%;
}
.technology h1{
  font-size: 20px;
}
.technology h3{
  font-size: 15px;
}
.technology i{
  font-size: 60px;
}
  
}
