@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {    
  --blue:#3d5da1;    
  --grey: #d4d3d3;
  --light-grey: #e2e0e0;  
  --smoke: #f8f7f7;  
  --white: #f3f1f1; 
  --black: #000;  
  --dark-blue: #222f46;    
  --font:#000;   
  --light-blue:#647d91;   
}
body {
  box-sizing: border-box;  
  font-family: 'Open Sans', sans-serif!important; 
  background-color: var(--grey); 
}
a {
  text-decoration: none;  
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar{
  margin: auto;
}
.navbar a{
  color: var(--white) !important;
}
.background-navbar {
  background-color: var(--dark-blue) !important;  
}
.span{
  color: var(--white)!important;  
}
.hero .row{
  height: 100%;
}
.hero {   
  background-color: var(--dark-blue);
  margin: auto;
  height: 60vh;  
}
.hero h1{  
  font-weight: 600; 
  font-size: 55px;
  color: var(--white);  
}
.hero i{
  font-size: 20px;
  color: var(--white);
  margin-top:10px;
  background-color: var(--blue);
  padding: 10px 30px;
  border-radius: 5px;  
}
.hero .btn{
  background-color: var(--dark-blue);  
  border-radius: 5px;
  font-weight: 500;
  padding: 10px;
  color: var(--white)!important;
}
.btn-project{
  background-color: var(--blue)!important;
  width: 150px;
  color: var(--white)!important;  
}
.btn-contact{
  border: 2px solid var(--blue)!important;
  color: var(--red)!important;
  width: 150px;
}
#mypic{  
  width: 40%; 
  border-radius: 5px;
  box-shadow: -20px 20px 0px var(--blue);
}
h2{
  color: var(--white);
  font-weight: bold;
  background-color: var(--blue);
  padding: 10px 20px;

}
.about-me-paragraph{
  background-color: var(--grey);
  padding: 150px;
  color: var(--white);
  margin: 10px;   
}
.about-me-text {    
  color: var(--black)!important;
}
.technology{
  margin:0px auto !important;
  background-color: var(--dark-blue);
  color: var(--white); 
}
.technology h1{
  color: var(--light-grey);
  font-weight: 700;
}
.technology h3{
  color: var(--black);  
}
.technology i{
  font-size: 80px;  
  background-color:var(--dark-blue);
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  color: var(--light-blue);
}
#projects {  
  margin: 100px auto;  
}
#projects h1{
  color: var(--blue);
  font-weight: 700;   
}
.card {
  transition: 0.3s ease-in-out;
  background-color: var(--light-blue)!important;  
  box-shadow: 5px 5px 10px var(--black);  
  margin: 20px auto;
  border: 0;  
}
.card img{
  width: 100%!important;  
}
.card-title{
  color: var(--blue);  
  font-weight: bold; 
  padding: 10px; 
  margin-top: 0px !important;
  margin:auto -16px; 
  border-bottom: 1px solid var(--light-grey); 
}
.card-body{
  padding-top: 0;
  background-color: var(--dark-blue);      
}
.card-text{
  color: var(--white)!important;
  margin-top: 10px;
  font-weight: 400;  
}
.card a{
  font-size: 15px!important;
  border-radius: 3px;
  background-color:var(--blue);
  border: 0;
  font-weight: 500;
  margin: 5px;
  color: var(--white);
}
.card:hover {
  transform: translateY(-7px);
}
#projects a:hover { 
  background-color: var(--black)!important;  
}
#projects i{
  font-size: 30px;
  color:var(--dark-blue);
}
#projects i:hover {
  transform: scaleY(0.7);
  transition: 0.4s ease;
  color: var(--orange);
}
.contact-section{  
  padding: 5px;
}
.contact {
  background-color: var(--dark-blue);  
  width: 70%;  
  border-radius: 5px;
  /* box-shadow: 5px 5px 10px var(--grey); */
  margin: 100px auto;
}
.contact ::placeholder{
  color: var(--white); 
}
.contact h1, p{
  color: var(--white)!important;
  font-weight: 700;  
}
.contact input,
.contact textarea {
  background-color: var(--dark-blue);
  border-radius: 0;
  border: 0;
  width: 100%;
  border-bottom: 1px solid var(--white);
}
.btn-submit {
  background-color: var(--blue);
  color: var(--white);    
  font-weight:500;
}
.btn-submit:hover {
  background-color: var(--orange);
  color: var(--white);
}
span {  
  transition: ease;
  font-size: 20px;
  font-weight: 400;
}
.footer {  
  background-color: var(--dark-blue);   
}
.footer p{
  color: var(--light-grey)!important;
}
.footer i{
  font-size: 30px;
  margin: 10px;
  color: var(--light-grey);  
}
@media (max-width: 1024px) {
  .hero h1{
    font-size:40px;
  }
  #about-me{
    display: block;
    width: 80%;    
  }
  #about-me h1{
    font-size: 35px;
  }
  #mypic{
    width: 50%;
  }
  .about-me-text{
    margin: 10px;
    border-left: 0;
    padding:10px;
  }
  .about-me-paragraph{
    padding: 50px;
  }
  .btn{
    margin: 5px;
  }
}
@media (max-width: 960px) {
  .hero h1{
  font-size: 35px;
  }
  .hero .btn{
    padding: 5px 10px;

  }
  .hero i{
    font-size: 20px;
  }
  .contact {
    width: 100%;
  } 
  .about-me-text{
    margin: 5px;    
    padding:0;
  }
  #mypic{
    display: none;
  }
}
@media (max-width: 320px) {
  .technology .col{
    margin: auto;
  }
}
@media (max-width: 320px) {
 .hero h1{
  font-size:30px;  
 }
 #mypic{
  width: 80%;
}
.technology h1{
  font-size: 20px;
}
.technology h3{
  font-size: 15px;
}
.technology i{
  font-size: 60px;
}
  
}
